packaging==26.0
wheel==0.46.3
pip==26.0.1
nvidia-cusparse==12.6.3.3
scipy==1.17.1
nvidia-cudnn-cu13==9.19.0.56
triton==3.6.0
nvidia-nvtx==13.0.85
referencing==0.37.0
terminado==0.18.1
defusedxml==0.7.1
tornado==6.5.5
fsspec==2026.3.0
sentry-sdk==2.56.0
jsonschema==4.26.0
stack-data==0.6.3
pydantic_core==2.41.5
Jinja2==3.1.6
h11==0.16.0
cycler==0.12.1
tzdata==2025.3
uri-template==1.3.0
multidict==6.7.1
asttokens==3.0.1
nvidia-curand==10.4.0.35
filelock==3.25.2
setuptools==81.0.0
jupyter-events==0.12.0
frozenlist==1.8.0
nvidia-cuda-cupti==13.0.85
jupyterlab_pygments==0.3.0
jsonpointer==3.0.0
cffi==2.0.0
Werkzeug==3.1.7
pyparsing==3.3.2
attrs==26.1.0
annotated-types==0.7.0
pandocfilters==1.5.1
fqdn==1.5.1
cuda-toolkit==13.0.2
nvidia-cuda-runtime==13.0.96
rfc3987-syntax==1.1.0
argon2-cffi==25.1.0
websocket-client==1.9.0
comm==0.2.3
jsonschema-specifications==2025.9.1
nvidia-cuda-nvrtc==13.0.88
overrides==7.7.0
gitdb==4.0.12
debugpy==1.8.20
fonttools==4.62.1
smmap==5.0.3
nest-asyncio==1.6.0
ipython_pygments_lexers==1.1.1
tensorboard==2.20.0
cuda-pathfinder==1.5.0
nbformat==5.10.4
arrow==1.4.0
rfc3986-validator==0.1.1
lark==1.3.1
bleach==6.3.0
webencodings==0.5.1
matplotlib-inline==0.2.1
pycparser==3.0
matplotlib==3.10.8
ptyprocess==0.7.0
ipykernel==7.2.0
argon2-cffi-bindings==25.1.0
propcache==0.4.1
nvidia-cusolver==12.0.4.66
prometheus_client==0.24.1
tinycss2==1.4.0
nvidia-cufile==1.15.1.6
pure_eval==0.2.3
soupsieve==2.8.3
jupyter_server_terminals==0.5.4
wandb==0.25.1
mpmath==1.3.0
ipython==9.10.0
Send2Trash==2.1.0
prompt_toolkit==3.0.52
torch==2.11.0
networkx==3.6.1
pydantic==2.12.5
aiohttp==3.13.3
jupyterlab_server==2.28.0
pyzmq==27.1.0
typing-inspection==0.4.2
pexpect==4.9.0
contourpy==1.3.3
simpervisor==1.0.0
jupyter_server==2.17.0
MarkupSafe==3.0.3
click==8.3.1
kiwisolver==1.5.0
Markdown==3.10.2
jupyterlab==4.5.6
jupyter_client==8.8.0
nvidia-nvshmem-cu13==3.4.5
jupyter_server_proxy==4.4.0
nvidia-cusparselt-cu13==0.8.0
notebook_shim==0.2.4
ngrok==1.4.0
json5==0.13.0
pillow==12.1.1
GitPython==3.1.46
tensorboard-data-server==0.7.2
rpds-py==0.30.0
beautifulsoup4==4.14.3
httpcore==1.0.9
nvidia-cublas==13.1.0.3
decorator==5.2.1
parso==0.8.6
jedi==0.19.2
nvidia-cufft==12.0.0.61
python-json-logger==4.0.0
nvidia-nvjitlink==13.0.88
fastjsonschema==2.21.2
aiosignal==1.4.0
platformdirs==4.9.4
nbconvert==7.17.0
cuda-bindings==13.2.0
mistune==3.2.0
psutil==7.2.2
wcwidth==0.6.0
jupyter-lsp==2.3.0
jupyter_core==5.9.1
executing==2.2.1
yarl==1.23.0
PyYAML==6.0.3
protobuf==6.33.6
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
babel==2.18.0
traitlets==5.14.3
isoduration==20.11.0
async-lru==2.3.0
anyio==4.12.1
torchvision==0.26.0
sympy==1.14.0
rfc3339-validator==0.1.4
webcolors==25.10.0
nbclient==0.10.4
httpx==0.28.1
nvidia-nccl-cu13==2.28.9
termcolor==3.3.0
astunparse==1.6.3
charset-normalizer==3.4.5
urllib3==2.6.3
opt_einsum==3.4.0
h5py==3.14.0
ml_dtypes==0.5.4
certifi==2026.2.25
idna==3.11
mdurl==0.1.2
tensorflow==2.21.0
optree==0.19.0
numpy==2.4.2
libclang==18.1.1
markdown-it-py==4.0.0
flatbuffers==25.12.19
grpcio==1.78.0
Pygments==2.19.2
rich==14.3.3
gast==0.7.0
keras==3.13.2
google-pasta==0.2.0
namex==0.1.0
typing_extensions==4.15.0
wrapt==2.1.2
absl-py==2.4.0
requests==2.32.5
PyGObject==3.42.1
jeepney==0.7.1
keyring==23.5.0
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
distro==1.7.0
python-apt==2.4.0+ubuntu4.1
cryptography==3.4.8
more-itertools==8.10.0
distro-info==1.1+ubuntu0.2
six==1.16.0
importlib-metadata==4.6.4
zipp==1.0.0
dbus-python==1.2.18
PyJWT==2.3.0
wadllib==1.3.6
launchpadlib==1.10.16
oauthlib==3.2.0
blinker==1.4
unattended-upgrades==0.1
SecretStorage==3.3.1
httplib2==0.20.2
